/* @import "../styles/preflight.css"; */
@tailwind base;
/* 고유 스타일 변경 => @apply 써서 적용하면 된당*/
@tailwind components;

@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */



@font-face {
  font-family: 'Pretendard-Regular', 'Apple SD Gothic Neo';
  src: local('Pretendard-Regular'), local('Pretendard-Regular');
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

@font-face {
  font-family: 'Pretendard-SemiBold', 'Apple SD Gothic Neo';
  src: local('Pretendard-SemiBold'), local('Pretendard-SemiBold');
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
}

@layer base {
  body {
    font-family: 'Pretendard-Regular', 'Apple SD Gothic Neo';
  }

}


@layer components {
  /******************************************Button***********************************************/
  .write-btn {
    @apply h-10 m-auto text-lg font-medium text-white rounded-lg w-36 md:text-2xl md:w-52 md:h-14 bg-main;
    /* 등록 버튼 :w-20 h-7 text-xs md:text-sm md:w-32 md:h-8 write-btn*/
  }
  .category-btn {
    @apply w-20 m-auto text-xs font-medium text-black bg-white border border-solid rounded-lg h-7 border-borderGray1 md:text-base md:w-28 md:h-9;
    /* active하면 bg-main text-white font-bold */
  }
  .modal-btn {
    @apply w-[122px] h-10 m-auto text-base font-medium border border-solid rounded-lg border-gray1;
    /* 글자 컬러, 백그라운드 컬러 직접 지정
    취소 => text-gray1
    삭제 => text-white bg-gray1
    */
  }
  .signup-btn {
    @apply w-full px-4 py-2 text-base font-semibold text-center text-white transition duration-200 ease-in rounded-lg shadow-md bg-main hover:bg-doneColor focus:ring-doingColor focus:ring-offset-todoColor focus:outline-none focus:ring-2 focus:ring-offset-2;
  }

  /* active => doneColor , 다른게 active => todoColor로 설정 */
  /************************************************************************************************/

  /**************************************input************************************************/
  @layer components {
    .input-base {
      @apply flex-grow px-4 text-sm rounded-lg focus:outline-none;
    }
    .input-span {
      @apply w-48 pt-2 text-sm border border-gray-300 rounded-lg cursor-pointer h-9;
    }
  }

  /************************************************************************************************/

  /******************************************Text***********************************************/
  .title-text {
    @apply overflow-hidden text-lg font-semibold lg:text-2xl text-ellipsis;
  }
  .extra-text {
    @apply text-gray1 font-medium lg:text-base text-xs
    /*time -> 그대로 사용 / 밑에 추가 정보는 color : #6B6A6A */;
  }
  .content-text {
    @apply text-base font-medium text-gray1 lg:text-lg;
  }
  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  /************************************************************************************************/

  /*******************************************Input************************************************/

  /************************************************************************************************/

  /********************************************Modal**************************************************/
  .bg-modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /************************************************************************************************/

  /********************************************Table**************************************************/
  /* primeReact table css custom */
  


  /************************************************************************************************/

}
